<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Snaz.Properties.Settings>
            <setting name="stayontopofallwindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputFormatTime" serializeAs="String">
                <value>Time: $h:$m:$s</value>
            </setting>
            <setting name="OutputFormatCountdown" serializeAs="String">
                <value>$m minute(s) and $s second(s)</value>
            </setting>
            <setting name="MessageWhenDone" serializeAs="String">
                <value>Now*!</value>
            </setting>
            <setting name="cbPlaySoundWhenCDIsDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbAmPm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbCheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckTwitchServerSec" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TwitchStreamName" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFormatViewers" serializeAs="String">
                <value>$viewers</value>
            </setting>
            <setting name="cbDoubleDigitsOnCountdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputFormatDate" serializeAs="String">
                <value>dddd dd MMMM yyyy</value>
            </setting>
            <setting name="OutputStringDate" serializeAs="String">
                <value>Today: $date</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateTimeCountdown" serializeAs="String">
                <value>04/10/2021 00:50:00</value>
            </setting>
            <setting name="ChronoDown" serializeAs="String">
                <value>2013-01-01</value>
            </setting>
            <setting name="OutputFormatChronoDown" serializeAs="String">
                <value>$h:$m:$s</value>
            </setting>
            <setting name="OutputFormatChronoUp" serializeAs="String">
                <value>$h:$m:$s</value>
            </setting>
            <setting name="ChronoDownMessageWhenDone" serializeAs="String">
                <value>Chrono Down is done!</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseKeyboardHooks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbDoubleDigitsChronoDown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbRemoveTimespansChronoDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextLineChangerExtSec" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="OutputFormatSystemInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedIndexComboBoxNetworkCards" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChronoUpDays" serializeAs="String">
                <value />
            </setting>
            <setting name="ChronoUpHours" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ChronoUpMinutes" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ChronoUpSeconds" serializeAs="String">
                <value>02</value>
            </setting>
            <setting name="CUUseDays" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CUCustomFormat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CUPreFormatSelection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbPlaySoundWhenChronoDownIsDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbChronoUpAutoReset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbResetChronoUpOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbStartChronoUpOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbStartTwitchViewersOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedMediaplayer" serializeAs="String">
                <value>Spotify</value>
            </setting>
            <setting name="CustomCapture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>1543, 150, 777, 559</value>
            </setting>
            <setting name="IsMaximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfirmBeforeExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DynamicFilesUpdateInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="cbStartCountdownOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbStartTexlineChangerOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOnTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConvertRamAvailableToGB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RamInUseWithoutDecimals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RamAvailableWithoutDecimals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoMediaPlayingNowText" serializeAs="String">
                <value />
            </setting>
            <setting name="cbStartChronoDownOnStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CountDownDateOfToday" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveZeroOnTimeHour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideMinimizeNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChronoUpAutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputFormatSpotifyTrackInfo" serializeAs="String">
                <value>$artist - '$song'
$album
        </value>
            </setting>
            <setting name="PlayingNowJsonDir" serializeAs="String">
                <value>C:\Snaz\Data\</value>
            </setting>
            <setting name="ArtistLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SongLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlbumLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrackInfoSeperateFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChronoUpStartPauzeHotkey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ChronoUpStopHotKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ChronoUpIncreaseHotkey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ChronoUpDecreaseHotkey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ChronoDownStartPauzeHotkey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ChronoDownStopHotkey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ChronoDownIncreaseHotkey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ChronoDownDecreaseHotkey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ChronoUpIncreaseBy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChronoUpDecreaseBy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChronoDownIncreaseBy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChronoDownDecreaseBy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RemoveTimespansCountDown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideInAltTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NetworkMeterDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpotifyClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="SpotifyClientSecret" serializeAs="String">
                <value />
            </setting>
        </Snaz.Properties.Settings>
    </userSettings>
</configuration>